.premium-recipe {
    background-color: rgb(225, 225, 225, 0.5);
    border: 1px #FFF;
    border-radius: 25px;
    color: #FFF;
    height: 20px;
    line-height: 20px;
    padding: 3px;
    padding-left: 5px;
    position: absolute;
    bottom: 5px;
    width: 117px;
}